body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;    
}

.app-container {    
  display: flex;
  flex-direction: column;
}

/* El fondo oscuro que cubre toda la pantalla */
.modal-overlay {
    position: fixed; /* Se posiciona relativo a la ventana del navegador */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Negro con 60% de opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Un número alto para asegurar que esté por encima de todo */
}

/* La caja blanca del modal */
.modal-content {
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    aspect-ratio: 4 / 3;
}

button{
    position: relative;
    z-index: 1001; /* Asegura que el botón esté por encima del canvas */
    top: 0;
}